<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="MultiSafepayAPI" value="https://testapi.multisafepay.com/v1/json/" />
        <add key="MultiSafepayAPIKey" value="07467ea4f6f4dc5ebc0339b241c294f90f9d4fcf" />
    </appSettings>
    <system.diagnostics>
        <trace autoflush="false" indentsize="4">
            <listeners>
                <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TestOutput.log" />
                <remove name="Default" />
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>