<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
      <add key="MultiSafepayAPI" value="https://testapi.multisafepay.com/v1/json/" />
      <add key="MultiSafepayAPIKey" value="YOUR_TEST_API_KEY" />
    </appSettings>
    <system.diagnostics>
        <trace autoflush="false" indentsize="4">
            <listeners>
                <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TestOutput.log"/>
                <remove name="Default"/>
            </listeners>
        </trace>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
