<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="MultiSafepayAPI" value="http://devapi.multisafepay.com/v1/json/" />
        <add key="MultiSafepayAPIKey" value="a3e523c3f38ae117d0b62df408c58f030e4a7b43" />
        
        <!--<add key="MultiSafepayAPI" value="https://testapi.multisafepay.com/v1/json/" />
        <add key="MultiSafepayAPIKey" value="07467ea4f6f4dc5ebc0339b241c294f90f9d4fcf" />-->

        <!--<add key="MultiSafepayAPI" value="https://api.multisafepay.com/v1/json/" />
        <add key="MultiSafepayAPIKey" value="35dff02b59a360ebacf91484645d2bbd0b706ba3" />-->
    </appSettings>
    <system.diagnostics>
        <trace autoflush="false" indentsize="4">
            <listeners>
                <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TestOutput.log" />
                <remove name="Default" />
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>